<nav class="bg-white border-gray-200">
  <div
    class="max-w-[1400px] flex flex-wrap items-center justify-between mx-auto p-3"
  >
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/images/freshcart-logo.svg" class="h-8" alt="Frech Cart Logo" />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="transition-all inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="flex-grow hidden w-full md:flex md:w-auto ms-5"
      id="navbar-default"
    >
      @if (isLogin()) {
      <ul
        class="capitalize font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-6 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="text-green-500 hover:text-green-600"
            class="text-gray-700 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            >home</a
          >
        </li>
        <li>
          <a
            routerLink="/products"
            routerLinkActive="text-green-500 hover:text-green-600"
            class="text-gray-500 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            >products</a
          >
        </li>
        <li>
          <a
            routerLink="/categories"
            routerLinkActive="text-green-500 hover:text-green-600"
            class="text-gray-500 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            >categories</a
          >
        </li>
        <li>
          <a
            routerLink="/brands"
            routerLinkActive="text-green-500 hover:text-green-600"
            class="text-gray-500 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            >brands</a
          >
        </li>
        <li>
          <a
            routerLink="/allorders"
            routerLinkActive="text-green-500 hover:text-green-600"
            class="text-gray-500 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            >Orders</a
          >
        </li>
        <li>
          <a
            routerLink="/wishlist"
            routerLinkActive="text-green-500 hover:text-green-600"
            class="text-gray-500 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            >wishlist</a
          >
        </li>
      </ul>
      }

      <ul
        class="ms-auto capitalize font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        <li>
          <a
            role="button"
            class="text-gray-700 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </li>

        <li>
          <a
            role="button"
            class="text-gray-700 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a
            role="button"
            class="text-gray-700 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            ><i class="fa-brands fa-youtube"></i
          ></a>
        </li>
        @if (isLogin()) {
        <li>
          <a
            routerLink="/cart"
            role="button"
            class="text-gray-700 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            ><i class="fa-solid fa-cart-shopping text-2xl"
              ><span
                class="text-xs text-white -translate-y-4 -translate-x-3 inline-block transform bg-green-500 rounded-lg py-1 px-2"
                >{{ numOfCartItems() }}</span
              ></i
            ></a
          >
        </li>
        } @if(!isLogin()){
        <li>
          <a
            routerLink="login"
            routerLinkActive="text-green-500 hover:text-green-600"
            role="button"
            class="text-gray-500 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            >Login</a
          >
        </li>
        <li>
          <a
            routerLink="register"
            routerLinkActive="text-green-500 hover:text-green-600"
            role="button"
            class="text-gray-500 transition-all block py-2 px-3 rounded-sm md:p-0"
            aria-current="page"
            >Register</a
          >
        </li>
        } @if(isLogin()){
        <li>
          <a
            role="button"
            class="text-red-500 transition-all block py-2 px-3 rounded-sm md:p-0 hover:text-red-700"
            aria-current="page"
            (click)="logOut()"
            >SignOut <i class="fa-solid fa-arrow-right-from-bracket"></i
          ></a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
